@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.reactbox {
    width: 311px;
    height: 51px;
    border: 1px solid transparent;
    border-radius: 91px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
    background-color: white;
}

.react .text{
    width: 176px;
    height: 24px;
    border-color: transparent;
    outline-width: 1px;
    outline-color: transparent;
    background: none;
    color: black;
    font-size: 16px;
    float: left;
    margin-top: 4px;
    margin-left: 11px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-right-color: rgb(189, 189, 189) !important;
    border-right-width: 0.5px;
}

.btn {
    width: 116px;
    height: 51px;
    transition-duration: 0.4s;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 7px 15px 7px 15px;
    font-weight: bold;
    
    border-color: transparent;
    outline-width: 0em;
    outline-color: transparent;
    background: none;
    color: black;
    font-size: 16px;
    float: left;
    margin: 0 0px;
}

.btn:hover {
    cursor: pointer;
}