{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".json"
        ]
      }
    }
  },
  "rules": {
    "linebreak-style": 0
  },
  "env": {
    "browser": true,
    "jest": true
  }
}